[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
SQLAlchemy = "1.4.42"
alembic = "1.7.7"
Flask = "2.0.3"